{% extends 'base.html' %}
{% load socialaccount %}
{% block title %}
	Login
{% endblock %}

{% block content %}
	<div class="container-fluid">
	    <div class="row no-gutter">
	        <!-- The image half -->
	        <div class="col-md-6 d-none d-md-flex bg-image mybg"></div>


	        <!-- The content half -->
	        <div class="col-md-6 bg-light">
	            <div class="login d-flex align-items-center py-5">

	                <!-- Demo content-->
	                <div class="container">
	                    <div class="row">
	                        <div class="col-lg-10 col-xl-7 mx-auto">
	                            <h3 class="display-4">Login</h3>
	                            <p class="text-muted mb-4">Login and enjoy the free.</p>
	                            <form method="POST">
	                            	{% csrf_token %}
	                                <div class="form-group mb-3">
	                                    <input type="text" name="username" placeholder="Username" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
	                                </div>
	                                <div class="form-group mb-3">
	                                    <input id="inputPassword" name="password-1" type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
	                                </div>
	                                <div class="custom-control custom-checkbox mb-3">
	                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
	                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
	                                </div>
	                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login</button>
	                                <hr>
	                                <div class="text-center mt-2 mb-2">
	                                	<a class="btn btn-primary btn-block" href="{% provider_login_url 'google' %}">Login with Google</a>
	                                </div>
	                                <hr>
	                                <div class="text-center d-flex justify-content-between mt-4"><p>Not a member? <a href="{% url 'accounts:register' %}" class="font-italic text-muted"> 
	                                        <u>Regsiter</u></a></p></div>
	                            </form>
	                        </div>
	                    </div>
	                </div><!-- End -->

	            </div>
	        </div><!-- End -->

	    </div>
	</div>
{% endblock %}