{% extends 'base.html' %}
{% block title %}
	User Profile
{% endblock %}

{% block content %}
  	<div class="container">
  		
  		<div class="row mt-5">
  			
  			<div class="col-lg-3 mb-5">
  				<h2 class="text-capitalize">Profile</h2>
  				<!-- user description -->
  				<div class="text-center mt-3">
  					
  					<img src="{{ bookuser.profile.picture.url }}" class="img-thumbnail rounded-pill mb-2" alt="{{ bookuser.username }}">
  					<h2 class="text-muted mb-2">{{ bookuser.username }}</h2>
  					<h4 class="text-muted mb-3">{{ bookuser.email }}</h4>
  					<p class="text-muted mb-5">{{ bookuser.profile.bio }}</p>
  					{% if request.user.is_authenticated  %}
	  					{% if bookuser.id == request.user.id  %}
	  						<a href="{% url 'book:create_profile' request.user.id %}" class="btn btn-primary">Edit</a>
	  					{% endif %}
					{% endif %}
  					<a href="{% url 'book:content' %}" class="btn btn-secondary">Message</a>
  				</div>
  			</div>
  			
  			<div class="col-lg-9">
  				<h2 class="">{{bookuser.username}} Books</h2>
  				<!-- only 4 item in one row -->
  				<div class="row g-2"> 
  					{% for book in books %}
  					<div class="col-12 col-md-6 col-lg-3">
  						<div class="card" style="width: ;">
						    <a href="{% url 'book:book_detail' book.slug %}">
						    	<img src="{{ book.cover.url }}" class="w-100 border-bottom" alt="{{ book.title }}">
						    </a>
						    <div class="card-body">
						        <h5 class="card-title mb-2">{{ book.title }}</h5>
						        <p class="card-text">{{ book.description|truncatewords:"5"}}</p>
						    </div>
						    <div class="card-body">
						    	<div class="d-flex justify-content-between">
						    		{% if request.user.is_authenticated  %}
						    		<p><a class="link-info" href="{% url 'book:book_edit' book.slug %}">Edit</a></p>
						    		<p><a class="btn btn-outline-primary" href="{% url 'book:book_detail' book.slug %}">View Book</a></p>
						    		<p><a class="link-danger" href="{% url 'book:check' book.slug %}">Delete</a></p>
						    		{% else %}
						    		<p><a class="btn btn-outline-primary" href="{% url 'book:book_detail' book.slug %}">View Book</a></p>
						    		{% endif %}
						    	</div>
						    	
						    </div>
						</div>
  					</div>
  					{% endfor %}
  
  					<!-- blog post -->
  					{% for post in posts %}
  					<div class="col-12 col-md-6 col-lg-3">
  						<div class="card" style="width: ;">
						    <a href="{% url 'blog:detail' post.slug %}">
						    	<img src="{{ post.image.url }}" class="w-100 border-bottom" alt="{{ post.title }}">
						    </a>
						    <div class="card-body">
						        <h5 class="card-title mb-2">{{ post.title }}</h5>
						        <p class="card-text">{{ post.body|truncatewords:"5" |safe}}</p>
						    </div>
						    <div class="card-body">
						    	<div class="d-flex justify-content-between">
						    		{% if request.user.is_authenticated  %}
						    			<p><a class="link-info" href="{% url 'blog:blog_edit' post.slug %}">Edit</a></p>
						    			<p><a class="btn btn-outline-secondary" href="{% url 'blog:detail' post.slug %}">View Blog</a></p>
						    			<p><a class="link-danger" href="{% url 'blog:blog_check' post.slug %}">Delete</a></p>
						    		{% else %}
						    			<p><a class="btn btn-outline-secondary" href="{% url 'blog:detail' post.slug %}">View Blog</a></p>
						    		{% endif %}
						    	</div>
						    </div>
						</div>
  					</div>
  					{% endfor %}
					<!-- endblog -->
  				</div>

	    	</div>
  			
			    		
  		</div>


  	</div>


{% endblock %}