{% extends 'base.html' %}
{% load static %}
{% block title %}
	Categories
{% endblock %}

{% block content %}

	<div class="container px-4 py-5" id="custom-cards">
		<div class="mb-3">
	        <h3 class="text-muted mb-3">Tags:</h3>
	        <ul class="list-inline">
	        	{% for tag in get_tags %}
			    <li class="list-inline-item mb-2"><a href="{% url 'book:view_tags' tag.name %}" class="btn {% cycle 'btn-primary' 'btn-secondary' 'btn-success' 'btn-danger' 'btn-warning' 'btn-info' 'btn-dark' %}">{{ tag.name }}</a></li>
			    {% endfor %}
			</ul>
	    </div>

		<div class="row mt-5 mb-3">
			
			<div class="col-12 col-lg-8">
				<h3 class="text-muted mb-4">{{ tag }}</h3>
				{% for book in books %}
				<div class="card mb-3">
				    <div class="row g-0">
				        <div class="col-sm-5">
				            <img src="{{ book.cover.url }}" class="card-img-top h-100" alt="...">
				        </div>
				        <div class="col-sm-7">
				            <div class="card-body">
				                <h5 class="card-title">{{ book.title }}</h5>
				                <p class="card-text mb-3b">{{ book.description |truncatewords:"10" }}</p>
				                <!-- who post this -->
				                <div class="author d-flex align-items-center">
	                                <a href="{% url 'book:book_user_profile' book.user.id %}">
	                                    <img class="img" src="{{ book.user.profile.picture.url }}" alt="iceface" style="height: 50px; border-radius: 25px;">
	                                </a>
	                                <div class="info ps-2">
	                                    <span>Upload by</span>
	                                    <h3 class="mb-3">
	                                        <p class="h4 text-muted"><a href="{% url 'book:book_user_profile' book.user.id %}" class="link-secondary">{{ book.user }}</a></p>
	                                        <p class="h6 text-muted mt-2"><i class="fa-regular fa-calendar"></i>
	                                        	{{ book.created_date }}
	                                        </p>
	                                    </h3>
	                                </div>
	                            </div>

				                <div class="text-center">
				                	<a href="{% url 'book:book_detail' book.slug %}" class="btn btn-primary">View Book</a>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				{% endfor %}
				<!-- blog post -->
				{% for post in posts %}
				<div class="card mb-3">
				    <div class="row g-0">
				        <div class="col-sm-5">
				            <img src="{{ post.image.url }}" class="card-img-top h-100" alt="{{ post.title }}">
				        </div>
				        <div class="col-sm-7">
				            <div class="card-body">
				                <h5 class="card-title">{{ post.title }}</h5>
				                <p class="card-text mb-3b">{{ post.body |truncatewords:"10" }}</p>
				                <!-- who post this -->
				                <div class="author d-flex align-items-center">
	                                <a href="{% url 'book:book_user_profile' post.user.id %}">
	                                    <img class="img" src="{{ post.user.profile.picture.url }}" alt="iceface" style="height: 50px; border-radius: 25px;">
	                                </a>
	                                <div class="info ps-2">
	                                    <span>Upload by</span>
	                                    <h3 class="mb-3">
	                                        <p class="h4 text-muted"><a href="{% url 'book:book_user_profile' post.user.id %}" class="link-secondary">{{ post.user }}</a></p>
	                                        <p class="h6 text-muted mt-2"><i class="fa-regular fa-calendar"></i>
	                                        	{{ post.created_date }}
	                                        </p>
	                                    </h3>
	                                </div>
	                            </div>

				                <div class="text-center">
				                	<a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary">View Post</a>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				{% endfor %}
				<!-- end blog post -->

			</div>
			{% include 'book/tags.html' %}

		</div>


	</div>

{% endblock %}